@font-face {
    font-family: digital-7;
    src: url('./images/digital-7.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;

}

:root {
    --light-color: rgb(0, 255, 89);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    border: 2px solid black;
    background-color: rgb(55, 55, 53);
    border-radius: 10px;
    box-shadow: 2px 5px 10px 0px rgb(66, 64, 64);
    width: 35vw;
    height: 25vh;
    padding: 25px;
}

.clock {
    display: flex;
    justify-content: center;
    background-color: black;
    box-shadow: 2px 2px 2px 0px rgb(72, 71, 71) inset;
    align-items: center;
    border: 2px solid rgb(69, 67, 67);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.inside {
    font-family: digital-7;
    font-size: 38px;
    font-weight: 7600;
    color: var(--light-color);
    line-height: 20px;
    background-color: black;
    text-shadow: 1px 1px 20px var(--light-color);
}

.space {
    background-color: black;
    /* filter:blur(); */
}

.space::before {
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: var(--light-color);
}

.t {
    letter-spacing: 4px;
}